body {
    background: rgb(90, 55, 63);
  }

body {
    text-align: center;
    color: aliceblue;
    font: larger;
}

ol {
    text-align: left;
    font-size: larger;
    color:darkkhaki;
}

img {
    width: 600px;
    height: 500px;
    margin-top: -500px;
}